<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new car</title>
</head>
<body>
<h1>Add new car</h1>
<p>Here you can add a new car to database</p>

<form action="#" th:action="@{/addForm}" th:field="${car}" method="post">
  <table>
    <tr>
      <td><input type="text" placeholder="Brand" th:field="${car.brand}"/></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Color" th:field="${car.color}"/></td>
    </tr>
    <tr>
      <td><input id="submit" type="submit" value="Submit"/></td>
    </tr>
  </table>
</form>

</body>
</html>